<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sysu.sse.recruitment.job_platform_api.server.mapper.CompanyExternalLinkMapper">
	<resultMap id="ExternalLinkMap" type="cn.sysu.sse.recruitment.job_platform_api.pojo.entity.CompanyExternalLink">
		<id column="id" property="id"/>
		<result column="company_id" property="companyId"/>
		<result column="link_name" property="linkName"/>
		<result column="link_url" property="linkUrl"/>
		<result column="created_at" property="createdAt"/>
	</resultMap>

	<select id="listByCompanyId" resultMap="ExternalLinkMap">
		SELECT * FROM company_links WHERE company_id = #{companyId} ORDER BY id ASC
	</select>

	<delete id="deleteByCompanyId">
		DELETE FROM company_links WHERE company_id = #{companyId}
	</delete>

	<insert id="insert" parameterType="cn.sysu.sse.recruitment.job_platform_api.pojo.entity.CompanyExternalLink">
		INSERT INTO company_links (company_id, link_name, link_url, created_at)
		VALUES (#{companyId}, #{linkName}, #{linkUrl}, NOW())
	</insert>
</mapper>
