<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sysu.sse.recruitment.job_platform_api.server.mapper.TagCategoryMapper">
	<resultMap id="TagCategoryMap" type="cn.sysu.sse.recruitment.job_platform_api.pojo.entity.TagCategory">
		<id column="id" property="id"/>
		<result column="code" property="code"/>
		<result column="name" property="name"/>
		<result column="description" property="description"/>
		<result column="created_at" property="createdAt"/>
		<result column="updated_at" property="updatedAt"/>
	</resultMap>

	<select id="listAll" resultMap="TagCategoryMap">
		SELECT * FROM tag_categories ORDER BY id ASC
	</select>

	<select id="findById" resultMap="TagCategoryMap">
		SELECT * FROM tag_categories WHERE id = #{id}
	</select>
</mapper>
